{% if  portal.current_page != 'csat_survey' %}
  <footer class="page-footer">
    <div class="page-footer__inner">

      <nav class="page-footer__column home-links">
        <div class="column-header">
          Thinkific Home
        </div>
        <a href="//www.thinkific.com">Home</a>
        <a href="//www.thinkific.com/features">Features</a>
        <a href="//www.thinkific.com/tour">Take a Tour</a>
        <a href="//www.thinkific.com/about">About</a>
        <a href="//www.thinkific.com/pricing">Pricing</a>
      </nav>

      <nav class="page-footer__column freshdesk-links">
          <div class="column-header">
            Support Resources
          </div>
          <a href="/support/solutions">Support Docs</a>
          <a href="/support/discussions">Community Forums</a>
          <a href="//blog.thinkific.com" target="_blank">Blog</a>
          <a href="https://training.thinkific.com/" target="_blank">Training Center</a>
          <a href="http://experts.thinkific.com/" target="_blank">Experts Marketplace</a>
        {{ portal | link_to_privacy_policy }}
      </nav>

      <nav class="page-footer__column social-links">
        <div class="column-header">
          Connect With Us
        </div>
        <a href="/support/tickets/new" target="_blank">Contact Support</a>
        <a href="https://twitter.com/thinkific" target="_blank">Twitter</a>
        <a href="https://www.facebook.com/Thinkific/" target="_blank">Facebook</a>
        <a href="https://www.youtube.com/user/Thinkific" target="_blank">YouTube</a>
      </nav>

      <div class="page-footer__copyright">
        &copy; Thinkific
      </div>

    </div>
  </footer>
{% endif %}
