<!-- Title for the page -->
<title> {{ meta.title }} : {{ portal.name }} </title>

<!-- Meta information -->
{{ meta | default_meta }}


<!-- OG Image -->
<meta property="og:image" content="https://s3.amazonaws.com/thinkific/file_uploads/55770/images/732/87c/6f6/help-center-card.jpg" />

<!-- Responsive setting -->
{{ portal | default_responsive_settings }}
