<!-- Title for the page -->
<title> {{ meta.title }} : {{ portal.name }} </title>

<!-- Meta information -->
{{ meta | default_meta }}


<!-- OG Image -->
<meta property="og:image" content="https://s3.amazonaws.com/thinkific/file_uploads/626/images/47b/512/9c4/og-images.png" />

<!-- Responsive setting -->
{{ portal | default_responsive_settings }}