<section class="site-content-container__body page--forum-new-topic">
  <!-- To set topic title based on edit or delete -->
  <h3 class="main-section-title">
    {% if topic.id %}
      {% translate topic.edit %}
    {% else %}
      {% translate topic.new %}
    {% endif %}
  </h3>

  {% snippet new_topic_form %}
</section>

<!-- <section class="sidebar hide"><br /></section> -->