<section class="site-content-container__body page--forum-new-topic">
  <!-- To set topic title based on edit or delete -->
  <h3 class="main-section-title">
    {% if topic.id %}
      {% translate topic.edit %}
    {% else %}
      {% translate topic.new %}
    {% endif %}
  </h3>
  <p>
    Use the form below to post a new topic or idea in our community forums. If you 
    have a question that's urgent, or if you're experiencing an issue with your 
    site, please 
    <a href="http://help.thinkific.com/support/tickets/new">contact us directly</a>.
  </p>
  <br>
  {% snippet new_topic_form %}
</section>

<!-- <section class="sidebar hide"><br /></section> -->