<section class="site-content-container__body page--ticket-details">

  <h2> 
    Thanks! Your Ticket has been submitted.
  </h2>
  <h6> You will be hearing from us soon. </h6>

  {{ ticket | status_alert }}

</section>