@import "bourbon";
@import "neat";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

// =============================================================================
// Colours
// =============================================================================

$media-mobile-tablet: new-breakpoint(max-width 970px);
$media-mobile: new-breakpoint(max-width 768px);

// =============================================================================
// Colours
// =============================================================================

$basewhite: #ffffff;
$basegrey: #71767a;
$thinkblue: #1b9eea;
$thinkgreen: #36c69c;
$thinkpurple: #645ab1;

$border-color: #eaeef2;

$linkcolor: $thinkpurple;

$base-transition-time: .15s;


// =============================================================================
// Body
// =============================================================================

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $basewhite;  
  color: $basegrey;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

.page-wrapper {
  background: #ffffff;
  position: relative;
  overflow: hidden;
  width: 100%;

  // For the off canvas mobile nav
  &.show-nav .page-canvas {
    @include transform(translateX(-250px));
  }
}

// For the off canvas mobile nav
.page-canvas {
  position: relative;
  width: 100%;
  height: 100%; 

  @include media($media-mobile-tablet) {
    @include transform(translateX(0));
    @include transition(all $base-transition-time ease);
  } 
}

.site-content-container {
  @include outer-container;
  margin-top: 120px;
  margin-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;

  @include media($media-mobile-tablet) {
    margin-top: 60px;
  }
}

.site-content-container__body {
  @include span-columns(10);
  @include shift(1);
  position: relative;

  @include media($media-mobile-tablet) {
    @include span-columns(12);
    @include shift(0);
  }
}

.flex-container {
  @include display(flex);

  @include media($media-mobile-tablet) {
    display: block;
  }
}

.flex-1 {
  @include flex(1);
}

// =============================================================================
// Typography
// =============================================================================


h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

h1, 
.h1 {
  font-size: 3.815em;

  @include media($media-mobile) {
    font-size: 3.052em;
  }
}

h2, 
.h2 {
  font-size: 3.052em;

  @include media($media-mobile) {
    font-size: 2.441em;
  }
}

h3, 
.h3 {
  font-size: 2.441em;

  @include media($media-mobile) {
    font-size: 1.953em;
  }
}

h4, 
.h4 {
  font-size: 1.953em;
}

h5, 
.h5 {
  font-size: 1.563em;
}

h6, 
.h6 {
  font-size: 1.25em;
  text-transform: inherit;
}

p {
  font-size: 1em;
}

a {
  cursor: pointer;
  color: $linkcolor;

  &:hover {
    @include transition-property(color);
    @include transition-duration($base-transition-time);
    color: $basegrey;
    text-decoration: none;
  }
}

.main-section-title {
  margin-bottom: 50px;
  font-weight: 300;

  @include media($media-mobile) {
    margin-bottom: 1.5rem;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.help-text, 
.p-info, 
.info-text, 
.list-noinfo, 
.description-text, 
.c-link,
.lead,
.lead-small,
.lead-list {
  font-weight: 400 !important;
}

.see-more {
  margin-left: 3px;
  font-size: 16px;
  color: $linkcolor;

  &:before {
    display: none;
  }

  &:after {
    content: '\02192';
    padding-left: 5px;
  }
}

// =============================================================================
// Buttons
// =============================================================================

.x-btn, 
.btn {
  padding: 10px 22px;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: none;
  text-shadow: none;
  text-align: center;
  border: none;
  background-image: none;

  &:hover {
    @include transition-property(all);
    @include transition-duration($base-transition-time);
    @include transform(translateY(-2px));
    text-shadow: none;
  }

  &:hover, 
  &:active,
  &:focus {
    text-decoration: none !important;
  }
}

.x-btn-sm {
  padding: 6px 18px;
  font-size: 14px !important;
}

.x-btn-primary, 
.btn-primary {
  background: $thinkgreen;
  color: $basewhite;
  font-size: 15px;
  display: inline-block;

  &:hover {
    background: lighten($thinkgreen, 5%);
    color: $basewhite;
  }
}

// =============================================================================
// Forms
// =============================================================================

input[type="text"], 
input[type="email"],
input[type="password"]{
  padding: 10px 15px;
  border: 1px solid lighten($basegrey, 30%);
  box-shadow: none;  
  border-radius: 3px;
  font-size: 16px;

  &:focus {
    @include placeholder {
      @include transition(all $base-transition-time ease);
      opacity: 0.6;
    }
    border: 1px solid $thinkblue;
    box-shadow: none;
  }
}

.redactor_box {
  border: 1px solid lighten($basegrey, 30%);
  border-radius: 3px;
}

.control-group label {
  font-size: 16px;
  font-weight: bold;
}

// =============================================================================
//  Header
// =============================================================================

.header {
  @include transition(all 0.5s ease);
  position: absolute;
  width: 100%;  
  padding: 15px 20px;

  .flex-container {
    @include align-items(center);
  }

  @include media($media-mobile-tablet) {
    display: none;
  }
}

.header-tabs__link {
  font-size: 16px;
  color: $basewhite;

  &.active,
  &:hover,
  &:active {
    color: $basewhite;
    text-decoration: underline;
  }
}

.header__logo {
  @include flex-basis(125px);
  min-width: 0;
  margin-right: 50px;

  .portal-img {
    display: block;
  }

  .portal-logo {
    @include clearfix;
    display: block;
    float: none;
    margin: 0;    
  }

  img {
    display: block;
    height: auto;
    max-width: 125px;
  }

  &:hover {
    @include transition(all $base-transition-time ease);
    @include transform(translateY(-2px));
  }
}

// Header: Search
// ---------------

.header-search {
  @include display(flex);
  @include flex(1 1 auto);
  @include justify-content(center);
  padding: 0 5px;

  .header-search-input {
    width: 250px;
    padding: 9px 20px;
    margin: 0;
  }
}

// Header: main nav links
// ---------------

.header__site-nav {
  @include flex(0 0 auto);

  .header-tabs__link + .header-tabs__link {
    margin-left: 15px;
  }
}

// Header: Sign in nav
// ---------------

.header__account-nav {
  @include display(flex);
  @include flex(0 0 auto);
  @include align-items(center);
  text-align: right;
  margin-left: auto;

  .welcome {
    display: none;
  }

  .header-tabs__link + .header-tabs__link,
  .x-btn {
    margin-left: 15px;
  }
}

// Header: Logged in
// ---------------


.header__account-nav--logged-in {
  @include display(flex);
  @include align-items(center);
  padding-left: 15px;

  .dropdown-menu {
    right: -4px;
    left: initial;
    top: 36px;
    border-color: $border-color;
    border-radius: 3px;
    padding: 10px 0;

    a {
      color: $basegrey !important;
    }

    a:hover,
    a:active,
    a:focus {
      text-decoration: underline;
    }
  }
}

.profile-picture {
  border-radius: 500px;
  margin-right: 10px;
  height: 35px;
}

.profile-name {
  color: $basewhite;
  margin-right: 5px;

  &:hover, 
  &:active, 
  &:focus {
    color: $basewhite;
    text-decoration: underline;
  }
}

.header--white .profile-name {
  color: $basegrey;
}

.dropdown .caret {
  border-top-color: #ffffff;
  margin-top: 11px;
}

.header--white .dropdown .caret {
  border-top-color: $basegrey;
}

// Header: Header white 
// ---------------

.header--white {
  @include transition(all 0.5s ease);
  display: none;  
  position: fixed;
  top: 0;
  margin-top: -70px;
  background: $basewhite;  
  box-shadow: 0 0 15px 0 rgba($basegrey, 0.14);  
  border-bottom: 1px solid $border-color;
  z-index: 1000;

  @include media($media-mobile-tablet) {
    display: none !important;
  }

  .header-tabs__link {
    color: $basegrey;

    &.active,
    &:hover,
    &:active {
      color: $basegrey;
    }
  }

  .x-btn {
    color: $basewhite;
  }

  &.is-visible {
    @include transition(all 0.5s ease);
    margin-top: 0;
    display: block;
  }
}

// Header: Mobile nav
// -------------

.mobile-header {
  @include linear-gradient(50deg, $thinkblue 0%, $thinkpurple 100%);
  display: none;
  padding: 15px 20px;

  @include media($media-mobile-tablet) {
    @include display(flex);
    @include align-items(center);
  }
}

.mobile-header--home {
  background-image: none;
  background-color: transparent;
  position: absolute;
  top: 0;  
  width: 100%;
  padding: 20px 20px 0;
  box-shadow: none;
  border-bottom: none;
}

.mobile-header__logo img {
  width: 110px;
  height: auto;
}

// Toggle button
.mobile-nav-toggle {
  @include flex(0 0 auto);
  margin-left: auto;
  display: none;
  background: $basewhite;
  border-radius: 3px;
  padding: 3px 12px;
  color: $thinkpurple;
  cursor: pointer;

  @include media($media-mobile-tablet) {
    display: initial;
  }
}

// The actual nav itself
.mobile-nav {
  display: none; 
  position: absolute;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  padding: 20px;
  background: #595f65;  
  text-align: center;  

  @include media($media-mobile-tablet) {
    display: initial;
  }
}

// Nav contents
.mobile-nav-links {
  margin-bottom: 30px;
}

.mobile-nav-links__item {
  display: block;
  font-size: 22px;
  padding: 14px 0;
  color: $basewhite;
  cursor: pointer;

  &.active {
    text-decoration: underline;
  }
}

.mobile-search-input {
  border: 0 !important;
  width: 100%;
  margin-bottom: 20px !important;
}

// =============================================================================
//  Footer
// =============================================================================

.page-footer {
  border-top: 1px solid $border-color;
  padding: 80px;
  margin-top: 30px;
  background: #ffffff;

  @include media($media-mobile) {
    padding: 40px 20px;
  }
}

.page-footer__inner {
  @include outer-container;
}

.page-footer__column {
  @include span-columns(3);
  @include omega(4n);

  @include media($media-mobile) {
    @include span-columns(12);
    @include shift(0);
    margin-bottom: 20px;
  }

  .column-header {
    font-weight: bold;
    margin-bottom: 15px;
  }

  a {
    color: $basegrey;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;

    &:hover {
      color: $thinkpurple;
      text-decoration: underline;
    }
  }
}

.page-footer__copyright {
  @include span-columns(12);
  display: block;
  padding-top: 60px;
  font-size: 12px;
  color: lighten($basegrey, 10%);
}



// =============================================================================
//  Breadcrumb
// =============================================================================

.breadcrumb {
  margin-bottom: 20px;
  display: block;
  padding-bottom: 15px;
  font-size: 14px;

  a {
    color: $linkcolor;

    &:hover {
      color: $thinkpurple;
    }
  }

  & a:before, 
  & span:before {
    color: $basegrey;
  }
}

// =============================================================================
//  Search Hero
// =============================================================================

.search-hero {
  @include linear-gradient(50deg, $thinkblue 0%, $thinkpurple 100%);
  color: $basewhite;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  .hc-search-input {
    width: 100%;
    float: none;

    label {
      display: none;
    }

    input.ui-autocomplete-input {
      @include transition-property(all);
      @include transition-duration(80ms);
      padding: 20px 40px;
      box-shadow: 0px 9px 14px 0px rgba(0, 0, 0, 0.1);
      border: none;
      height: inherit;
      opacity: 0.9;
      border-radius: 3px;
      font-size: 16px;

      @include media($media-mobile) {
        padding: 15px 20px;
      }

      &:focus {      
        @include transform(scale(1.1));
        opacity: 1;
        box-shadow: 0px 9px 22px 0px rgba(0, 0, 0, 0.2);
      }
    }

    input.ui-autocomplete-input:focus {
      @include placeholder {
        @include transition(all $base-transition-time ease);
        opacity: 0.6;
      }
    }
  }

  .hc-search-form {
    @include span-columns(6);
    @include shift(3);
    margin-bottom: 12px;

    @include media($media-mobile-tablet) {
      @include span-columns(10);
      @include shift(1);
    }

    @include media($media-mobile) {
      @include span-columns(12);
      @include shift(0);
    }
  }
}

// Search Hero: sizes 
// ------------------

.search-hero--large {
  padding-top: 200px !important;
  padding-bottom: 180px !important;

  @include media($media-mobile) {
    padding-top: 120px !important;  
    padding-bottom: 80px !important;
  }
}

.search-hero--small {
  padding-top: 100px; 
  padding-bottom: 80px;
}

.hc-search-button {
  display: none;
}

.search-hero__form-container {
  @include outer-container;
}

.search-hero__title {
  font-weight: 200;
  font-size: 2.8em;
  margin-bottom: 40px;

  @include media($media-mobile) {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
}

.search-hero__popular-searches {
  @include span-columns(6);
  @include shift(3);
  font-size: 13px;

  a {
    color: #ffffff;
  }

  @include media($media-mobile) {
    @include span-columns(12);
    @include shift(0);
  }
}

// =============================================================================
//  Home Page
// =============================================================================

.page-wrapper--home {
  section {
    @include media($media-mobile-tablet) {
      padding: 40px 50px;
    }  

    @include media($media-mobile) {
      padding: 40px 20px;
    }
  }
}

// Home Page: Feature Links
// ----------------

.feature-links {
  background: #eaeef2;
  padding: 90px 80px;
}

.feature-links__inner {
  @include outer-container;
  @include display(flex);

  @include media($media-mobile) {
    display: block;
  }
}

.feature-links__card {
  @include flex(1);
  @include span-columns(4);
  @include transition-property(all);
  @include transition-duration($base-transition-time);  
  background: $basewhite;
  padding: 40px 30px;
  border-radius: 3px;
  text-align: center;
  color: $basegrey;
  box-shadow: 1px 1px 0 rgba($basegrey, 0.15);

  &:hover, 
  &:active, 
  &:focus {
    @include transform(translateY(-2px));
    text-decoration: none;
    color: $basegrey;
    box-shadow: 0px 5px 18px 0px rgba($basegrey, 0.15);

    .feature-links__image {
      @include transition(all $base-transition-time ease);
      @include transform(translateY(-2px));
    }

    .feature-links__header{
      color: $basegrey;
    }
  }

  @include media($media-mobile) {
    @include span-columns(12);
    margin-bottom: 20px; 
    padding: 30px 30px;
  }
}

.feature-links__image {
  margin-bottom: 30px;
  width: 200px;
  height: auto;
}

.feature-links__header {
  margin-bottom: 10px;
  color: $thinkpurple;
  font-size: 26px;
}

.feature-links__description {
  font-size: 16px;
  margin-bottom: 0;
}


// Home Page: Popular Links
// ----------------

.popular-topics {
  padding: 100px 80px;

  @include media($media-mobile-tablet) {
    padding: 50px 20px;
  }
}

.popular-topics__inner {
  @include outer-container;
}

.popular-topics__list {
  @include span-columns(12);
  @include display(flex);
  @include flex-wrap(wrap);

  @include media($media-mobile) {
    display: block;
  }
}

.popular-topics__item {
  @include flex(0 1 50%);
  margin-bottom: 30px;
  padding-right: 60px;

  @include media($media-mobile) {
    display: block;
    width: 100%;
    padding-right: 0;

    & + & {
      padding-top: 30px;
      border-top: 1px solid $border-color;
    }
  }
}

.popular-topics__item-title {
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 1.5;
}


// =============================================================================
//  Article
// =============================================================================

.page--article-content {
  @include span-columns(8);

  @include media($media-mobile-tablet) {
    @include span-columns(12);
  }
}

.site-sidebar {
  @include span-columns(4);
  @include flex(1);
  max-width: 350px;
  border-left: 1px solid $border-color;
  padding: 20px 0 20px 40px;

  @include media($media-mobile-tablet) { 
    @include span-columns(12);
    border-top: 1px solid $border-color;
    border-left: none;
    max-width: initial;
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  #new-ticket-search h4 {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid $border-color;
  }
}

.article-heading {
  margin-bottom: 30px;

  .solution-print-icon {
    margin-top: 24px;
    margin-left: 15px;
    float: none;
  }
}

.article__author, 
.article__modified-date {
  margin-bottom: 0;
}

.article__body {
  padding-top: 30px;
  margin-bottom: 40px;

  p {
    color: $basegrey !important;
    font-size: 16px !important;
    line-height: 1.5;
    text-align: left !important;
  }

}

// Not actually the author section, it's a survey for users about
// the usefulness of the article
#article-author {
  padding-top: 10px;
}


// This is usually just date, or 'last edited' information. Shows up all over.
.article-meta-data {
  font-size: 13px;
  color: lighten($basegrey, 15%);
}

// Article: Sidebar 
// -----------

.sidebar--more-articles {
  .list-lead {
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }

  .folder-name {
    font-weight: bold;
  }

  ul {
    list-style: inside;
    margin: 0;
    padding: 0;
  }

  ul li {
    margin-bottom: 10px;
  }
}

// =============================================================================
//  Article list
// =============================================================================

.article-list-container {
  @include span-columns(6);
  @include omega(2n);
  margin-bottom: 60px;

  @include media($media-mobile) {
    @include span-columns(12);
  }
}

.article-list__folder-title {
  font-size: 20px;
  padding-bottom: 10px;

  a {
    color: $basegrey;
    font-weight: bold;
  }

  .item-count {
    &:before {
      content: '(';
    }

    &:after {
      content: ')';
    }
  }
}

.x-article-list {
  padding: 0;
  margin: 0 0 20px 3px;
  color: $basegrey;
  list-style-position: inside;
}

.x-article-list__item {
  font-size: 16px;
  margin-bottom: 15px;
}

// Article Lists: List of articles in a folder
// -------------------

.folder-article-list__item {
  border-top: 1px solid $border-color;
  padding: 30px 35px 30px 15px;


  &:hover {
    background: lighten($border-color, 5%);
  }
}

.folder-article-list__title {
  margin-bottom: 10px;
}

.folder-article-list__description {
  margin-bottom: 10px;
}

// =============================================================================
//  Search Results
// =============================================================================

.page--search-results {

  .nav-pills {
    padding-bottom: 15px;
    border-bottom: 1px solid $border-color;
    margin-bottom: 30px;
  }
}

.search-results-list {
  padding: 0;
  margin: 0;
}

.search-results-list__item {
  list-style: none;
  padding-top: 20px;

  .label {
    display: inline-block;
    margin-bottom: 10px;
  }
}

.search-results-list__item + .search-results-list__item {
  border-top: 1px solid $border-color;
}

.search-results-list__title {
  margin-bottom: 10px;
}

// =============================================================================
//  Solutions Home
// =============================================================================

// Solutions home: Category level
// -------------

.solutions-home__category {
  @include outer-container;
  margin-bottom: 20px;
}

.solutions-home__category-title {
  border-bottom: 1px solid $border-color;
  margin-bottom: 40px;

  a {
    color: $basegrey;
  }
}

// Solutions home: Folder and article level
// -------------

.solutions-home__folder-list {
  @include span-columns(12);
}

.solutions-home__article-list {
  @include span-columns(6);
  @include omega(2n);
  margin-bottom: 60px;

  @include media($media-mobile) {
    @include span-columns(12);
  }

  // Doing this because stupid freshdesk uses the same list in two places, but
  // one is available to edit, and the other isn't.
  ul {
    @extend .x-article-list;
  }

  li {
    @extend .x-article-list__item;
  }
}


// =============================================================================
//  New ticket
// =============================================================================

.new-ticket__form {
  @include span-columns(8);

  @include media($media-mobile-tablet) {
    @include span-columns(12);
  }
}

.form-actions {
  border: 0;
  padding: 0;
  margin: 0;
}


// New Ticket: Sidebar 
// --------------

.page--new-ticket {
  .site-sidebar {
    margin-top: 50px;
  }
}

.max-search-content {
  max-height: initial;
}

// New Ticket: Thank you 
// --------------

.page--ticket-details {
  padding: 50px 0;
  text-align: center;

  @include media($media-mobile-tablet) {
    padding: 20px 0;
  }
}

// =============================================================================
//  Submit a ticket
// =============================================================================

.login-form-container {
  @include span-columns(6);
  @include shift(3);

  @include media($media-mobile) {
    @include span-columns(12);
    @include shift(0);
  }
}

.new_user_session {
  input[type="email"],
  input[type="password"] {
    width: 100%;
  }
}

// =============================================================================
//  Forums
// =============================================================================


// Forum: Controls
// ------------

.new-topic-button {
  margin-left: auto;

  a {
    float: none;
    @extend .x-btn;
    @extend .x-btn-primary;
    @extend .x-btn-sm;
  }
}

.forum-controls {
  @include display(flex);
  @include align-items(center);
  margin-bottom: 40px;

  @include media($media-mobile) {
    display: block;
    margin-bottom: 20px;
  }

  .breadcrumb {
    margin: 0;
    padding: 0;

    @include media($media-mobile) {
      margin-bottom: 30px;
    }
  }
}


// Forum: Category 
// -------------

.forum-category {
  @include outer-container;
  border-top: 1px solid $border-color;
  margin-bottom: 20px;
  padding: 30px 0;
}

.forum-category__header {
  color: $basegrey;
}

.forum-category__topics {
  @include outer-container;
}

.forum-category__topics-list {
  @include span-columns(6);
  @include omega(2n);
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 6px 10px;

  @include media($media-mobile-tablet) {
    @include span-columns(12);
  }

  .list-lead {
    font-size: 1.6em;
    margin-bottom: 20px;
  }

  ul {
    margin-left: 30px;
  }

  ul li {
    margin-bottom: 15px;
  }
}

.community-forums__discussions-sidebar {
  display: none;
}


// Forum: Topics
// --------------

.forum-title {
  margin-bottom: 20px;

  @include media($media-mobile-tablet) {
    margin-bottom: 0;
  }

  .main-section-title {
    margin-bottom: 1rem;
    display: inline-block;
  }

  .forum-topic-description {
    font-size: 14px;
    color: lighten($basegrey,10%);
  }
}

#forum-topic-list {
  .c-user-thumb {
    padding-top: 30px;
    padding-bottom: 30px;

    &:hover {
      background: lighten($border-color, 4%);
    }
  }
}

// Forum: Discussion 
// ------------

.page--forum-conversation {
  .content-divider {
    display: none;
  }
}

// Original Posts
#topic-comments {
  border-bottom: 1px solid $border-color;
  margin-bottom: 30px;

  hr {
    display: none !important;
  }

  // Remove the stupid arrows under the user images
  .user-pointer-bottom {
    &:after,
    &:before {
      display: none;
    }
  }

  .user-info {
    margin-bottom: 30px;
  }

  .user-name {
    margin-bottom: 0;
  }

  .p-info {
    font-weight: 400;
    font-size: 14px;
  }

  .p-content {
    background: transparent;
    border: none;
    box-shadow: none;

    @include media($media-mobile-tablet) {
      padding: 0;
    }
  }

  #vote-toolbar {
    padding-top: 15px;

    hr {
      display: none;
    }
  }

  .user-pic-thumb {
    top: 10px;
  }
}

.sort-posts {
  background: lighten($border-color, 4%);
  padding: 5px 12px;
  border-radius: 3px;

  .caret {
    margin-top: 12px !important;
    border-top-color: $basegrey;
  }
}

.discussion-sidebar {
  border-top: 1px solid $border-color;
  padding: 30px 20px;
  margin-top: 50px;
}


// Replies
.replies-thread {
  .user-comment {
    padding: 25px 15px 0;

    &:nth-of-type(even) {
      background: lighten($border-color, 4%);
    }
  }
}


#reply-to-post {
  .p-content {
    border-radius: 3px;
    border: none;
    background: lighten($border-color, 4%);
  }
}




